.inicial{
    background-color: rgb(240, 240, 240);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.containerlinks{
    margin-left: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}
.titulo{
    font-size: 40px;
    font-weight: bold;
}
.links{
    margin: 5px;
    color: black;
    font-size: 20px;
    margin-left: 11vh;
}
.copyright{
    background-color: rgb(204, 204, 204);
}
.pcopyright{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.img{
    align-items: center;
    text-align: center;

}