.container{
    margin-top: 3rem;
    align-items: center;
    border-radius: 10px;
    width: 46rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 25rem;
    margin-bottom: 5rem;
    background-color: rgb(240, 240, 240);
}

.container2{
    justify-content: center;
    display: flex;
    flex-direction: column;
}